---
import { css } from '@styled-system/css'
import ComponentDemo from '@components/blog/ComponentDemo.astro'
---

<ComponentDemo>
  <section>
    <h2
      class={css({
        '&&': {
          textStyle: 'lg',
          marginBlockEnd: '0.5rlh',
        },
      })}
    >
      Frequently Asked Questions
    </h2>
    <slot />
  </section>
</ComponentDemo>
