---
import { css } from '@styled-system/css'
import { getCollection } from 'astro:content'
import AppLayout from '@layouts/AppLayout.astro'
import PrimaryLayout from '@layouts/PrimaryLayout.astro'
import SEOTags from '@components/SEOTags.astro'
import PostsList from '@components/blog/PostsList.astro'
import { entryIsPublished, sortByPublishedAt } from '@utils/index'

const posts = await getCollection('blog', entryIsPublished)
const sortedPosts = posts.sort(sortByPublishedAt)
---

<AppLayout>
  <SEOTags
    slot="head"
    title="Latest Posts"
    description="Cassidy's latest loosely-organized writings consisting of front-end web development tutorials, things she's learned, and other various thoughts"
  />
  <PrimaryLayout>
    <main
      class={css({
        paddingInline: 'columnRule',
        paddingBlockStart: 'columnRule',
        gap: 'columnRule',
        backgroundColor: 'columnRule',
      })}
    >
      <div
        class={css({
          padding: 'calc({spacing.bento.padding} * 2)',
          borderRadius: 'bento',
          _light: {
            color: 'neutral.775',
            backgroundColor: 'neutral.25',
          },
          _dark: {
            color: 'neutral.400',
            backgroundColor: 'neutral.875',
          },
        })}
      >
        <div
          class={css({
            maxWidth: '3xl',
          })}
        >
          <h1
            class={css({
              textStyle: 'h1',
              marginBlockStart: 'lineHeightCrop.syne',
            })}
          >
            Latest Posts
          </h1>
          <p>
            This blog is just getting started! I plan to write mostly on web-dev
            related topics, but might throw in a few semi-personal life posts in
            here, too. All posts should be considered works in progress,
            although, just like my houseplants, I can't guarantee they're all
            still alive. I've included the last updated date on each article
            page.
          </p>
        </div>
      </div>
    </main>
    <PostsList posts={sortedPosts} />
  </PrimaryLayout>
</AppLayout>
