---
import { getCollection, type CollectionEntry } from 'astro:content'
import AppLayout from '../../layouts/AppLayout.astro';
import PrimaryLayout from '../../layouts/PrimaryLayout.astro'
import BlogPostLayout from '../../layouts/BlogPostLayout.astro'
import Blockquote from '@components/mdx/Blockquote.astro'
import { publishedEntries } from '../../utils';


export async function getStaticPaths() {
  const entries = await getCollection('blog', publishedEntries);

  return entries.map((entry: CollectionEntry<'blog'>) => ({
    params: { slug: entry.slug }, props: { post: entry },
  }));
}



export const components = {
  blockquote: Blockquote,
}

const { post } = Astro.props;
const { Content } = await post.render();


---

<AppLayout>
  <PrimaryLayout>
    <BlogPostLayout>
      <Fragment slot="header">
        <!-- todo: Breadcrumbs -->
        <h1>{post.data.title}</h1>
        <!-- todo: last modified -->
        <!-- todo: topics -->
      </Fragment>
      <Content components={components} />
    </BlogPostLayout>
  </PrimaryLayout>
</AppLayout>


<style lang="scss">
  @import '../../styles/mixins.scss';


</style>