---
import { css } from '@styled-system/css'
import { getCollection } from 'astro:content'
import AppLayout from '@layouts/AppLayout.astro'
import PrimaryLayout from '@layouts/PrimaryLayout.astro'
import PhotoGallery from '@components/PhotoGallery.astro'
import SEOTags from '@components/SEOTags.astro'
import { entryIsPublished, sortByPosition } from '@utils/index'
const photos = await getCollection('photos', entryIsPublished)

let sortedPhotos = photos.sort(sortByPosition)
---

<AppLayout>
  <SEOTags
    slot="head"
    title="Photography"
    description="A curated collection of photos by Cassidy Smith"
  />
  <PrimaryLayout>
    <main
      class={css({
        padding: 'bento.padding',
        maxWidth: '3xl',
      })}
    >
      <h1
        class={css({
          textStyle: 'h1',
          marginBlockStart: 'lineHeightCrop.syne',
        })}
      >
        Photography
      </h1>
      <p>
        Sometimes you gotta step away from the keyboard, go outside, and look at
        something further away than your nearest screen. My photography practice
        is spontaneous, amateur, and casual. I shoot whatever happens to catch
        my attention and I intentionally avoid planning photos. These photos are
        an expression of my experience navigating an environment built for cars
        as a pedestrian.
      </p>
    </main>
    <PhotoGallery photos={sortedPhotos} />
  </PrimaryLayout>
</AppLayout>
