---
import { css } from '@styled-system/css'
import { getCollection } from 'astro:content'
import AppLayout from '@layouts/AppLayout.astro'
import PrimaryLayout from '@layouts/PrimaryLayout.astro'
import PhotoGallery from '@components/PhotoGallery.astro'
import SEOTags from '@components/SEOTags.astro'
import { entryIsPublished, sortByPosition } from '@utils/index'
const photos = await getCollection('photos', entryIsPublished)

let sortedPhotos = photos.sort(sortByPosition)
---

<AppLayout>
  <SEOTags
    slot="head"
    title="Photography"
    description="A curated collection of photos by Cassidy Smith"
  />
  <PrimaryLayout>
    <main
      class={css({
        padding: 'bento.padding',
        maxWidth: '3xl',
      })}
    >
      <h1
        class={css({
          textStyle: 'h1',
          marginBlockStart: 'lineHeightCrop.syne',
        })}
      >
        Photography
      </h1>
      <p>

      </p>
      <p>
        Photography is a fun way to look deeply and connect with your surroundings. For me, it's casual, spontaneous, and fun.
        I shoot whatever catches my attention while remembering that attention is a muscle to develop.
        Our car-dominant cities have become places to pass through, but I want you to remember that your city is a place to <i>be</i>. Sit. Look around. Maybe take a photo.
      </p>
    </main>
    <PhotoGallery photos={sortedPhotos} />
  </PrimaryLayout>
</AppLayout>
