---
import { getCollection } from 'astro:content'
import AppLayout from '@layouts/AppLayout.astro'
import PrimaryLayout from '@layouts/PrimaryLayout.astro'
import PhotoGallery from '@components/PhotoGallery.astro'
import Prose from '@components/Prose.astro'
import SEOTags from '@components/SEOTags.astro'
import { publishedEntries, sortByPosition } from '@utils/index'
const photos = await getCollection('photos', publishedEntries)

let sortedPhotos = photos.sort(sortByPosition)
---

<AppLayout>
  <SEOTags
    slot="head"
    title="Photography"
    description="A curated collection of photos by Cassidy Smith"
  />
  <PrimaryLayout>
    <Prose as="main">
      <h1>Photography</h1>
      <p>
        Sometimes you gotta step away from the keyboard, go outside, and look at
        something further away than your nearest screen. My photography practice
        is spontaneous, amateur, and casual. I shoot whatever happens to catch
        my attention and I intentionally avoid planning photos. My photos are an
        expression of my experience navigating my environment as a pedestrian.
      </p>
    </Prose>
    <PhotoGallery photos={sortedPhotos} />
  </PrimaryLayout>
</AppLayout>

<style lang="scss">
  @import '@styles/mixins.scss';

  main {
    padding: var(--fluid-bento-padding);
    max-width: var(--space-content-4);
  }
</style>
