@layer base {
  :root {
    --color-primary-0: #fcfcfd;
    --color-primary-100: #f7f5ff;
    --color-primary-175: #ede8ff;
    --color-primary-275: #ddd5f8;
    --color-primary-350: #b8afdc;
    --color-primary-425: #988ec5;
    --color-primary-525: #746aa9;
    --color-primary-600: #564d95;
    --color-primary-700: #48417f;
    --color-primary-775: #352f5f;
    --color-primary-875: #231f3f;
    --color-primary-950: #130e22;

    --color-secondary-0: #f6fefb;
    --color-secondary-100: #ebfaf4;
    --color-secondary-175: #d5f1e6;
    --color-secondary-275: #a9e6d0;
    --color-secondary-350: #71c4a9;
    --color-secondary-425: #31977b;
    --color-secondary-525: #018165;
    --color-secondary-600: #00644d;
    --color-secondary-700: #105240;
    --color-secondary-775: #0f3c2f;
    --color-secondary-875: #0b281f;
    --color-secondary-950: #04140f;

    --color-info-0: #fcfcfd;
    --color-info-100: #f6f6f9;
    --color-info-175: #eae9ff;
    --color-info-275: #d8d6fe;
    --color-info-350: #aeaeff;
    --color-info-425: #777fe9;
    --color-info-525: #5868de;
    --color-info-600: #394eb7;
    --color-info-700: #2b3c91;
    --color-info-775: #223076;
    --color-info-875: #181f4e;
    --color-info-950: #0d0e2b;

    --color-accent-one-0: #fefcfb;
    --color-accent-one-100: #fff3ed;
    --color-accent-one-175: #ffe5d8;
    --color-accent-one-275: #ffceb5;
    --color-accent-one-350: #ff9864;
    --color-accent-one-425: #e05b12;
    --color-accent-one-525: #c34800;
    --color-accent-one-600: #953500;
    --color-accent-one-700: #7e2c00;
    --color-accent-one-775: #5c2201;
    --color-accent-one-875: #3a1904;
    --color-accent-one-950: #1b0e04;

    --color-accent-two-0: #fdfdf4;
    --color-accent-two-100: #f9f9bc;
    --color-accent-two-175: #ebf16a;
    --color-accent-two-275: #d8e148;
    --color-accent-two-350: #b3bb38;
    --color-accent-two-425: #868c20;
    --color-accent-two-525: #707619;
    --color-accent-two-600: #555910;
    --color-accent-two-700: #474b0c;
    --color-accent-two-775: #353709;
    --color-accent-two-875: #232409;
    --color-accent-two-950: #121106;

    --color-accent-three-0: #fdfcfc;
    --color-accent-three-100: #fcf4f6;
    --color-accent-three-175: #f8e6eb;
    --color-accent-three-275: #eed2da;
    --color-accent-three-350: #d0aab6;
    --color-accent-three-425: #a87a89;
    --color-accent-three-525: #8e6673;
    --color-accent-three-600: #6f4d58;
    --color-accent-three-700: #5b4049;
    --color-accent-three-775: #442f36;
    --color-accent-three-875: #2d1f23;
    --color-accent-three-950: #170e11;

    --color-success-0: #f7fef9;
    --color-success-100: #d4ffe3;
    --color-success-175: #a1ffc4;
    --color-success-275: #5ef4a2;
    --color-success-350: #37cd81;
    --color-success-425: #009d5c;
    --color-success-525: #01824c;
    --color-success-600: #006338;
    --color-success-700: #00542f;
    --color-success-775: #013e21;
    --color-success-875: #042915;
    --color-success-950: #04140a;

    --color-warning-0: #fefcf5;
    --color-warning-100: #fff6c9;
    --color-warning-175: #ffeb71;
    --color-warning-275: #eeda45;
    --color-warning-350: #c6b529;
    --color-warning-425: #958701;
    --color-warning-525: #7d7200;
    --color-warning-600: #5f5600;
    --color-warning-700: #504800;
    --color-warning-775: #3b3500;
    --color-warning-875: #272303;
    --color-warning-950: #141103;

    --color-danger-0: #fefcfb;
    --color-danger-100: #fbf5f3;
    --color-danger-175: #fce6de;
    --color-danger-275: #ffcdbd;
    --color-danger-350: #ff9778;
    --color-danger-425: #ec4d29;
    --color-danger-525: #da1e01;
    --color-danger-600: #b11200;
    --color-danger-700: #8c1904;
    --color-danger-775: #6d1a07;
    --color-danger-875: #401404;
    --color-danger-950: #1d0c04;

    --color-neutral-0: #fefcfb;
    --color-neutral-100: #f8f6f5;
    --color-neutral-175: #edeae9;
    --color-neutral-275: #dbd9d7;
    --color-neutral-350: #b7b3b1;
    --color-neutral-425: #908b89;
    --color-neutral-525: #7a7371;
    --color-neutral-600: #645a5c;
    --color-neutral-700: #4f464a;
    --color-neutral-775: #3b3239;
    --color-neutral-875: #262129;
    --color-neutral-950: #130f19;
  }
}
