@layer base {
  :root {
    /* Primary */
    --color-primary-0: oklch(99.15% 0.0011 297.12);
    --color-primary-100: oklch(97.46% 0.0145 296.64);
    --color-primary-175: oklch(94.17% 0.0309 296);
    --color-primary-275: oklch(89.07% 0.0482 295.22);
    --color-primary-350: oklch(77.69% 0.0643 294.14);
    --color-primary-425: oklch(67.62% 0.0805 292.7);
    --color-primary-525: oklch(55.94% 0.0969 290.36);
    --color-primary-600: oklch(46.46% 0.1139 286.84);
    --color-primary-700: oklch(41.32% 0.1012 286.85);
    --color-primary-775: oklch(33.77% 0.0819 286.97);
    --color-primary-850: oklch(26.08% 0.0588 287.85);
    --color-primary-875: oklch(22.08% 0.0478 288.28);
    --color-primary-950: oklch(18.18% 0.0415 293.19);

    /* Secondary */
    --color-secondary-0: oklch(99.04% 0.0088 170.67);
    --color-secondary-100: oklch(97.13% 0.0176 170.66);
    --color-secondary-175: oklch(93.51% 0.0322 170.64);
    --color-secondary-275: oklch(87.83% 0.0695 170.58);
    --color-secondary-350: oklch(76.03% 0.0917 170.52);
    --color-secondary-425: oklch(61.15% 0.1034 170.44);
    --color-secondary-525: oklch(53.72% 0.1057 170.39);
    --color-secondary-600: oklch(44.69% 0.088 170.39);
    --color-secondary-700: oklch(39.37% 0.0706 170.42);
    --color-secondary-775: oklch(32.23% 0.0538 170.44);
    --color-secondary-850: oklch(25% 0.0384 170.47);
    --color-secondary-875: oklch(21.18% 0.025 170.74);
    --color-secondary-950: oklch(17.39% 0.0263 171.01);

    /* Tertiary */
    --color-tertiary-0: oklch(99.18% 0.0011 17.21);
    --color-tertiary-100: oklch(97.43% 0.0089 357.91);
    --color-tertiary-175: oklch(94.1% 0.0199 357.9);
    --color-tertiary-275: oklch(88.98% 0.0324 357.9);
    --color-tertiary-350: oklch(77.57% 0.046 357.9);
    --color-tertiary-425: oklch(62.99% 0.0607 357.89);
    --color-tertiary-525: oklch(55.51% 0.0544 357.89);
    --color-tertiary-600: oklch(46.14% 0.0478 353.78);
    --color-tertiary-700: oklch(40.64% 0.0391 342.59);
    --color-tertiary-775: oklch(33.21% 0.0303 322.53);
    --color-tertiary-850: oklch(25.64% 0.0206 299.96);
    --color-tertiary-875: oklch(21.77% 0.0205 299.52);
    --color-tertiary-950: oklch(17.77% 0.0135 271.19);

    /* AccentOne */
    --color-accent-one-0: oklch(99.15% 0.0028 46.83);
    --color-accent-one-100: oklch(97.4% 0.0167 46.98);
    --color-accent-one-175: oklch(94.03% 0.0352 47.15);
    --color-accent-one-275: oklch(88.93% 0.0669 47.35);
    --color-accent-one-350: oklch(77.83% 0.141 46.66);
    --color-accent-one-425: oklch(63.53% 0.1819 42.89);
    --color-accent-one-525: oklch(56.33% 0.1703 41.93);
    --color-accent-one-600: oklch(46.12% 0.1392 41.96);
    --color-accent-one-700: oklch(41% 0.1231 42.27);
    --color-accent-one-775: oklch(33.45% 0.0951 44.67);
    --color-accent-one-850: oklch(25.75% 0.0609 50.36);
    --color-accent-one-875: oklch(21.72% 0.0425 56.16);
    --color-accent-one-950: oklch(17.79% 0.0304 59.61);

    /* AccentTwo */
    --color-accent-two-0: oklch(99.14% 0.0034 70.75);
    --color-accent-two-100: oklch(97.32% 0.0124 71.08);
    --color-accent-two-175: oklch(93.86% 0.0349 71.94);
    --color-accent-two-275: oklch(88.61% 0.0771 73.44);
    --color-accent-two-350: oklch(77.2% 0.1511 74.59);
    --color-accent-two-425: oklch(62.44% 0.1222 74.59);
    --color-accent-two-525: oklch(55.01% 0.1076 74.59);
    --color-accent-two-600: oklch(45.25% 0.0885 74.59);
    --color-accent-two-700: oklch(40.25% 0.0788 74.59);
    --color-accent-two-775: oklch(32.89% 0.0618 74.87);
    --color-accent-two-850: oklch(25.44% 0.0414 76.57);
    --color-accent-two-875: oklch(21.54% 0.0307 78.94);
    --color-accent-two-950: oklch(17.67% 0.0231 79.78);

    /* Info */
    --color-info-0: oklch(99.15% 0.0019 290.12);
    --color-info-100: oklch(97.36% 0.004 290.03);
    --color-info-175: oklch(94.13% 0.0299 288.87);
    --color-info-275: oklch(89.09% 0.0552 287.54);
    --color-info-350: oklch(78.13% 0.1153 283.39);
    --color-info-425: oklch(63.91% 0.1572 277.76);
    --color-info-525: oklch(56.82% 0.1783 273.24);
    --color-info-600: oklch(47.02% 0.1677 270.13);
    --color-info-700: oklch(39.58% 0.1413 270.11);
    --color-info-775: oklch(34.17% 0.1204 270.44);
    --color-info-850: oklch(26.36% 0.0862 272.31);
    --color-info-875: oklch(22.26% 0.0667 274.21);
    --color-info-950: oklch(18.36% 0.0583 277.95);

    /* Success */
    --color-success-0: oklch(99.02% 0.0098 155.85);
    --color-success-100: oklch(96.63% 0.0601 155.86);
    --color-success-175: oklch(92.51% 0.1203 155.88);
    --color-success-275: oklch(86.68% 0.1723 155.91);
    --color-success-350: oklch(75.22% 0.1654 155.92);
    --color-success-425: oklch(61.19% 0.1487 155.93);
    --color-success-525: oklch(53.47% 0.1297 155.93);
    --color-success-600: oklch(43.98% 0.1067 155.93);
    --color-success-700: oklch(39.11% 0.0948 155.93);
    --color-success-775: oklch(31.99% 0.0766 155.93);
    --color-success-850: oklch(24.81% 0.0553 155.92);
    --color-success-875: oklch(20.69% 0.0382 155.28);
    --color-success-950: oklch(17.32% 0.0326 155.25);

    /* Warning */
    --color-warning-0: oklch(99.09% 0.0094 93.63);
    --color-warning-100: oklch(97.04% 0.0594 96.05);
    --color-warning-175: oklch(93.26% 0.1432 99.99);
    --color-warning-275: oklch(87.94% 0.162 101.22);
    --color-warning-350: oklch(76.45% 0.1491 101.66);
    --color-warning-425: oklch(61.8% 0.1294 102.26);
    --color-warning-525: oklch(54.45% 0.1141 102.26);
    --color-warning-600: oklch(44.79% 0.0938 102.26);
    --color-warning-700: oklch(39.83% 0.0833 102.25);
    --color-warning-775: oklch(32.57% 0.0681 102.09);
    --color-warning-850: oklch(25.23% 0.0491 100.98);
    --color-warning-875: oklch(21.84% 0.0344 99.28);
    --color-warning-950: oklch(17.58% 0.0278 99);

    /* Danger */
    --color-danger-0: oklch(99.15% 0.0025 38.34);
    --color-danger-100: oklch(97.37% 0.0073 38.36);
    --color-danger-175: oklch(94.04% 0.027 38.41);
    --color-danger-275: oklch(89% 0.0633 38.4);
    --color-danger-350: oklch(77.95% 0.1329 37.69);
    --color-danger-425: oklch(63.89% 0.2013 34.16);
    --color-danger-525: oklch(56.75% 0.2204 31.03);
    --color-danger-600: oklch(48.31% 0.1903 30.79);
    --color-danger-700: oklch(41.5% 0.1525 32.16);
    --color-danger-775: oklch(35.59% 0.1191 33.89);
    --color-danger-850: oklch(25.93% 0.0726 40.1);
    --color-danger-875: oklch(21.39% 0.0487 48);
    --color-danger-950: oklch(17.85% 0.0338 50.77);

    /* Neutral */
    --color-neutral-0: oklch(99.23% 0.0025 48.72);
    --color-neutral-100: oklch(97.34% 0.0028 43.4);
    --color-neutral-175: oklch(93.89% 0.003 48.16);
    --color-neutral-275: oklch(88.63% 0.0033 51.46);
    --color-neutral-350: oklch(77.08% 0.0057 53.72);
    --color-neutral-425: oklch(64.08% 0.0071 49.91);
    --color-neutral-525: oklch(56.17% 0.009 37.21);
    --color-neutral-600: oklch(47.73% 0.0131 359.49);
    --color-neutral-700: oklch(40.34% 0.0144 344.88);
    --color-neutral-775: oklch(33.05% 0.0173 332.02);
    --color-neutral-850: oklch(25.61% 0.0165 310.3);
    --color-neutral-875: oklch(21.74% 0.0165 310.08);
    --color-neutral-950: oklch(17.9% 0.0195 302.51);
  }
}
