@layer reset, base, layout, component;

@import 'reset.css';
@import 'tokens.css';
@import 'themes.css';
@import 'typography.scss';
@import 'prose.scss';
@import 'util.scss';

@layer base {
  @view-transition {
    navigation: auto;
  }
  @media (prefers-reduced-motion) {
    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
      animation: none !important;
    }
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-base-background);
    color: var(--color-base-text);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-base-heading);
  }
}
