@layer base {
  .prose {
    h1,
    h2,
    h3 {
      margin-top: var(--space-7);
      margin-bottom: var(--space-3);
    }
    h4,
    h5,
    h6 {
      margin-top: var(--space-7);
      margin-bottom: var(--space-2);
    }

    ul,
    ol,
    p,
    blockquote {
      margin-bottom: var(--space-3);

      &:last-child {
        margin-bottom: 0;
      }
    }

    h1,
    h2,
    h3 {
      &:first-child {
        margin-top: -0.1em;
      }
    }

    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    blockquote {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  p {
    text-wrap: pretty;
  }
}
