@layer base {
  :root[data-theme='light'] {
    --color-base-background: var(--color-neutral-100);
    --color-base-text: var(--color-primary-775);
    --color-base-text-faded: var(--color-neutral-600);
    --color-base-heading: var(--color-primary-700);

    --color-stark-background: white;
    --color-stark-foreground: black;

    --color-link: var(--color-info-600);
    --color-link-decoration: var(--color-info-350);
    --color-link-hover: var(--color-info-425);
    --color-link-hover-decoration: var(--color-info-350);
    --color-link-active: var(--color-accent-one-600);
    --color-link-active-decoration: var(--color-accent-one-525);
    --color-link-visited: inherit;
    --color-link-visited-decoration: var(--color-info-350);

    --color-focus-outline: var(--color-accent-one-525);

    --color-button-text: var(--color-neutral-775);
    --color-button-background: var(--color-neutral-175);
    --color-button-hover-text: var(--color-neutral-950);
    --color-button-hover-background: var(--color-neutral-275);
    --color-button-active-text: var(--color-neutral-100);
    --color-button-active-background: var(--color-accent-one-525);
  }

  :root[data-theme='dark'] {
    --color-base-background: var(--color-neutral-950);
    --color-base-text: var(--color-primary-350);
    --color-base-text-faded: var(--color-neutral-350);
    --color-base-heading: var(--color-primary-350);

    --color-stark-background: black;
    --color-stark-foreground: white;

    --color-link: var(--color-info-350);
    --color-link-decoration: var(--color-info-350);
    --color-link-hover: var(--color-info-275);
    --color-link-hover-decoration: var(--color-info-175);
    --color-link-active: var(--color-accent-one-425);
    --color-link-active-decoration: var(--color-accent-one-525);
    --color-link-visited: inherit;
    --color-link-visited-decoration: var(--color-info-350);

    --color-focus-outline: var(--color-accent-one-525);

    --color-button-text: var(--color-neutral-275);
    --color-button-background: var(--color-neutral-775);
    --color-button-hover-text: var(--color-neutral-0);
    --color-button-hover-background: var(--color-neutral-700);
    --color-button-active-text: var(--color-neutral-100);
    --color-button-active-background: var(--color-accent-one-525);
  }
}
