@import 'colors.css';

@layer base {
  :root {
    --font-atkinson: 'Atkinson Hyperlegible', sans-serif;
    --font-syne: 'Syne Variable', sans-serif;
    
    --font-body: var(--font-atkinson);
    --font-heading: var(--font-syne);

    --font-size--2: 0.726rem;
    --font-size--1: 0.808rem;
    --font-size-0: 0.899rem;
    --font-size-1: 1rem;
    --font-size-2: 1.113rem;
    --font-size-3: 1.238rem;
    --font-size-4: 1.377rem;
    --font-size-5: 1.532rem;
    --font-size-6: 1.704rem;
    --font-size-7: 1.896rem;
    --font-size-8: 2.109rem;

    --line-height-base: 1.6;
    --line-height-list: 1.4;
    --line-height-heading: 1.15;
    --line-height-compressed: 1.2;
    --line-height-body: var(--line-height-base);

    --space-000: -0.5rem;
    --space-00: -0.25rem;
    --space-0: 0rem;
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 1rem;
    --space-4: 1.25rem;
    --space-5: 1.5rem;
    --space-6: 1.75rem;
    --space-7: 2rem;
    --space-8: 3rem;
    --space-9: 4rem;
    --space-10: 5rem;
    --space-11: 7.5rem;
    --space-12: 10rem;
    --space-13: 15rem;
    --space-14: 20rem;
    --space-15: 30rem;

    --fluid-bento-gap: clamp(var(--space-1), 3cqw, var(--space-3));
    --fluid-bento-padding: clamp(var(--space-2), 3cqw, var(--space-3));
    --fluid-bento-radius: clamp(var(--space-1), 3cqw, var(--space-3));

    --space-content-1: 10rem;
    --space-content-2: 28rem;
    --space-content-3: 38rem;
    --space-content-4: 48rem;

    --layout-size-1: 25rem;
    --layout-size-2: 35rem;
    --layout-size-3: 65rem;
    --layout-size-4: 70rem;
    --layout-size-5: 85rem;

    --radius-0: 0;
    --radius-tiny: 0.125rem;
    --radius-full: 50rem;
  }
}
