html {
  font-size: clamp(1.125em, 3vw, 1.25em);
}
body {
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: var(--line-height-1);
}
h1 {
  font-size: var(--font-size-6);
  line-height: var(--line-height-6);
}
h2 {
  font-size: var(--font-size-5);
  line-height: var(--line-height-5);
}
h3 {
  font-size: var(--font-size-4);
  line-height: var(--line-height-4);
}
h4 {
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
}
h5 {
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
}
h6 {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
}
h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 710;
  margin-top: var(--space-6);
  margin-bottom: var(--fluid-bento-gap);
}
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 700;
  margin-top: var(--space-5);
  margin-bottom: var(--fluid-bento-gap);

  & + p {
    margin-top: 0;
  }
}

ul,
ol,
p,
blockquote {
  margin-bottom: var(--fluid-bento-gap);

  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3 {
  &:first-child {
    margin-top: -0.1em;
  }
}

h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
