---
import AppLayout from '@layouts/AppLayout.astro';
import PrimaryLayout from '@layouts/PrimaryLayout.astro'
import SocialLinks from '@components/SocialLinks.astro'
import PricklyPearContainer from '@components/PricklyPearContainer.astro'
import CopyEmail from '@components/CopyEmail.astro';
import PhotosCard from '@components/PhotosCard.astro';
import Prose from '@components/Prose.astro';
import SEOTags from '@components/SEOTags.astro';
import TextLink from '@components/TextLink.astro';
import LatestPost from '@components/LatestPost.astro'
---

<AppLayout>
  <SEOTags  
    slot="head"
    description="Cassidy Smith is a front-end engineer and UI designer"
  />
  <PrimaryLayout>
    <div class="page-layout">
      <Prose as="main">
        <h1>Hi, I’m Cassidy</h1>
        <p>I’m a front-end engineer and UI designer at <TextLink href="https://nobledesktop.com" target="_blank" rel="noreferrer noreferrer">Noble Desktop</TextLink>. I enjoy creative and intentional problem solving with code. On the day-to-day, I work in Ruby on Rails, JavaScript/ES6, Next.js, React, PHP, CSS, and HTML. I also love to explore new tools, languages, and frameworks. Currently, I’m obsessed with <TextLink href="https://astro.build">Astro</TextLink>, a wonderful static-first web framework, and I’m using it to build this website.</p>
      </Prose>
    
      <LatestPost />
      <PhotosCard />
      <SocialLinks />
      <CopyEmail />
      <PricklyPearContainer />
    </div>
  </PrimaryLayout>
</AppLayout>

<style lang="scss">
  @import '../styles/mixins.scss';

  @include color-mode(light) {
    main {
      --background-color: var(--color-primary-175);
    }
  }
  @include color-mode(dark) {
    main {
      --background-color: var(--color-primary-850);
    }
  }

  main {
    grid-area: intro;
    border-radius: var(--fluid-bento-radius);
    padding: var(--fluid-bento-padding);
    background-color: var(--background-color);
  }

  .page-layout {
    display: grid;
    gap: var(--fluid-bento-gap);
    container: bento;

    grid-template-areas: 
      "intro"
      "blog"
      "photos"
      "social"
      "email"
      "cactus";

    @include breakpoint-small {
      grid-template-columns: 5fr 4fr;
      grid-template-rows: auto auto 1fr;
      grid-template-areas: 
        "intro blog"
        "intro email"
        "intro cactus"
        "photos cactus"
        "social cactus";
    }
    @include breakpoint-medium {
      grid-template-columns: 6fr 6fr 10fr 11fr;
      grid-template-rows: 1fr auto auto auto;
      grid-template-areas: 
        "intro intro intro blog"
        "intro intro intro cactus"
        "photos photos social cactus"
        ". email email cactus";
    }
  }
</style>
