---
import Layout from '../layouts/Layout.astro'
import SocialLinks from '../components/SocialLinks.astro'
import PricklyPearContainer from '../components/PricklyPearContainer.astro'
import CopyEmail from '../components/CopyEmail.astro';
---

<Layout>
  <main>
    <h1>Hi, I’m Cassidy</h1>
    <p>I’m a front-end engineer and UI designer at <a
        href="https://nobledesktop.com"
        target="_blank"
        rel="noopener noreferrer">Noble Desktop</a
      >. I enjoy creative and intentional problem solving with code. Day-to-day, I work in Ruby on Rails, JavaScript/ES6, Next.js, React, CSS, and HTML. I also love to explore new tools, languages, and frameworks.
    </p>
  </main>

  <CopyEmail />

  <SocialLinks />

  <PricklyPearContainer />


</Layout>

<style lang="scss">
  @import '../styles/mixins.scss';

  a {
    @include text-link;
  }

  main {
    grid-area: intro;
    border-radius: var(--fluid-bento-radius);
    padding: var(--fluid-bento-padding);
    background-color: var(--color-primary-275);

    h1 {
      font-size: var(--font-size-5);
      margin-bottom: var(--space-2);
    }
  }
</style>
