---
import AppLayout from '@layouts/AppLayout.astro';
import PrimaryLayout from '@layouts/PrimaryLayout.astro'
import SocialLinks from '@components/SocialLinks.astro'
import PricklyPearContainer from '@components/PricklyPearContainer.astro'
import CopyEmail from '@components/CopyEmail.astro';
import PhotosCard from '@components/PhotosCard.astro';
import Prose from '@components/Prose.astro';
---

<AppLayout>
  <PrimaryLayout>
    <div class="page-layout">
      <Prose as="main">
        <h1>Hi, I’m Cassidy</h1>
        <p>I’m a front-end engineer and UI designer at <a
            href="https://nobledesktop.com"
            target="_blank"
            rel="noopener noreferrer">Noble Desktop</a
          >. I enjoy creative and intentional problem solving with code. Day-to-day, I work in Ruby on Rails, JavaScript/ES6, Next.js, React, CSS, and HTML. I also love to explore new tools, languages, and frameworks.
        </p>
      </Prose>
    
      <PhotosCard />
      <SocialLinks />
      <CopyEmail />
      <PricklyPearContainer />
    </div>
  </PrimaryLayout>
</AppLayout>

<style lang="scss">
  @import '../styles/mixins.scss';

  @include colorModeStyles(light) {
    main {
      --background-color: var(--color-primary-275);
    }
  }
  @include colorModeStyles(dark) {
    main {
      --background-color: var(--color-primary-850);
    }
    :global(.page-layout > *) {
      box-shadow:
        0 0 var(--fluid-bento-gap) 0 var(--color-stark-background),
        0 0 0 2px var(--color-stark-background);
    }
  }

  main {
    grid-area: intro;
    border-radius: var(--fluid-bento-radius);
    padding: var(--fluid-bento-padding);
    background-color: var(--background-color);

    a {
      @include text-link;
    }
  }

  .page-layout {
    display: grid;
    gap: var(--fluid-bento-gap);
    container: bento;

    grid-template-areas: 
      "intro"
      "photos"
      "social"
      "email"
      "cactus";

    @include breakpoint-small {
      grid-template-columns: 5fr 4fr;
      grid-template-rows: auto auto 1fr;
      grid-template-areas: 
        "intro email"
        "intro cactus"
        "photos cactus"
        "social cactus";
    }
    @include breakpoint-medium {
      grid-template-columns: 6fr 6fr 10fr 11fr;
      grid-template-areas: 
        "intro intro intro cactus"
        "intro intro intro cactus"
        "photos photos social cactus"
        ". email email cactus";
    }
  }
</style>
