---
import PricklyPear from 'prickly-pear'
import Layout from '../layouts/Layout.astro'
import SocialLinks from '../components/SocialLinks.astro'
---

<Layout>
  <main>
    <h1>Hi, I’m Cassidy!</h1>
    <p>Welcome to ~ my space ~ on the internet.</p>
    <p>I’m a front-end engineer and UI designer at <a
        href="https://nobledesktop.com"
        target="_blank"
        rel="noopener noreferrer">Noble Desktop</a
      >. I enjoy creative and intentional problem solving with code. Day-to-day
      I work in Ruby on Rails, JavaScript/ES6, Next.js, React, CSS, and HTML,
      but I love to explore new frameworks, languages, and tools.
    </p>
  </main>
  
  <SocialLinks />

  <div class="prickly-pear-container">
    <PricklyPear client:idle class="prickly-pear" color="#31977b"/>
  </div>

</Layout>

<style lang="scss">
  @import '../styles/mixins.scss';

  a {
    @include text-link;
  }

  main {
    grid-area: intro;
    border-radius: var(--fluid-bento-radius);
    padding: var(--fluid-bento-padding);
    background-color: var(--color-primary-175);
  }

  .prickly-pear-container {
    grid-area: cactus;
    overflow: hidden;
    border-radius: var(--fluid-bento-radius);
    background-color: var(--color-primary-275);
    aspect-ratio: 1/1;

    canvas {
      width: 100% !important;
      height: auto !important;
    }
  }
</style>
