---
import PrimaryLayout from '../layouts/PrimaryLayout.astro'
import SocialLinks from '../components/SocialLinks.astro'
import PricklyPearContainer from '../components/PricklyPearContainer.astro'
import CopyEmail from '../components/CopyEmail.astro';
---

<PrimaryLayout>
  <div class="page-layout">
    <main>
      <h1>Hi, I’m Cassidy</h1>
      <p>I’m a front-end engineer and UI designer at <a
          href="https://nobledesktop.com"
          target="_blank"
          rel="noopener noreferrer">Noble Desktop</a
        >. I enjoy creative and intentional problem solving with code. Day-to-day, I work in Ruby on Rails, JavaScript/ES6, Next.js, React, CSS, and HTML. I also love to explore new tools, languages, and frameworks.
      </p>
    </main>
  
    <CopyEmail />
  
    <SocialLinks />
  
    <PricklyPearContainer />
  </div>
</PrimaryLayout>

<style lang="scss">
  @import '../styles/mixins.scss';

  a {
    @include text-link;
  }

  main {
    grid-area: intro;
    border-radius: var(--fluid-bento-radius);
    padding: var(--fluid-bento-padding);
    background-color: var(--color-primary-275);

    h1 {
      font-size: var(--font-size-5);
      margin-bottom: var(--space-2);
    }
  }

  .page-layout {
    display: grid;
    gap: var(--fluid-bento-gap);
    container: bento;

    grid-template-areas: 
      "intro"
      "email"
      "social"
      "cactus";

    @include breakpoint-small {
      grid-template-columns: 5fr 4fr;
      grid-template-rows: auto auto 1fr;
      grid-template-areas: 
        "intro social"
        "intro cactus"
        "email cactus";
    }
    @include breakpoint-medium {
      grid-template-columns: 1fr 8fr 5fr;
      grid-template-areas: 
        "intro intro cactus"
        "intro intro cactus"
        ". email cactus"
        ". social cactus";
    }
  }
</style>
