---
import BannerLogo from "./BannerLogo.astro";
---


<header role="banner">
  <nav>
    <BannerLogo class="test"/>
  </nav>
  <span class="dot-filler"></span>
</header>


<style lang="scss"> 
  @import '../styles/mixins.scss';

  header[role=banner] {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--space-2);
  }

  nav {
    flex: 0 1 auto;
  }

  .dot-filler {
    border-radius: var(--radius-1);
    flex: 1 1 8rem;
    @include dot-pattern-background(var(--color-primary-425), 6px);
  }
</style>