---
import BannerLogo from "./BannerLogo.astro";
---


<header role="banner">
  <nav>
    <BannerLogo class="test"/>
  </nav>
</header>


<style lang="scss"> 
  @import '../styles/mixins.scss';

  header[role=banner] {
    grid-area: banner;
    display: flex;
  }
</style>