---
import { css } from '@styled-system/css'
import BannerLogo from '@components/BannerLogo.astro'
import ThemeSwitcher from '@components/ThemeSwitcher.svelte'

const { class: className, ...rest } = Astro.props
---

<header
  role="banner"
  class:list={[
    className,
    css({
      marginBlockStart: 'bento.gap',
      display: 'flex',
      alignItems: 'center',
      justifyContent: 'space-between',
      paddingInlineStart: 'bento.padding',
      paddingInlineEnd: 'calc({spacing.bento.padding} / 2)',
      paddingBlock: 'calc({spacing.bento.padding} / 2)',

      borderRadius: 'bento',

      _light: {
        backgroundColor: 'neutral.75',
      },
      _dark: {
        backgroundColor: 'neutral.875',
      },
    }),
  ]}
  {...rest}
>
  <nav>
    <BannerLogo />
  </nav>
  <ThemeSwitcher client:only="svelte" />
</header>
