---
import BannerLogo from "./BannerLogo.astro";
import ThemeSwitcher from "./ThemeSwitcher.svelte";
---


<header role="banner">
  <nav>
    <BannerLogo class="test"/>
  </nav>
  <ThemeSwitcher client:only="svelte" />
</header>


<style lang="scss"> 
  @import '../styles/mixins.scss';

  header[role=banner] {
    margin-top: var(--fluid-bento-gap);
    display: flex;
  }

  :global(.theme-toggle) {
    margin-left: auto;
    align-self: center;
  }
</style>