<span class="banner-logo" role="img" aria-label="Logo">
  <a class="bento-container" href="/">Cassidy Smith</a>
</span>

<style lang="scss"> 
  @import '../styles/mixins.scss';

  .banner-logo {
    display: block;
    font-family: var(--font-heading);
    font-weight: 750;
    font-size: clamp(var(--font-size-5), 3% ,var(--font-size-7));
    line-height: var(--line-height-compressed);
    text-transform: uppercase;
    letter-spacing: 0.01ch;

    a {
      
      display: block;
      text-decoration: none;
      transition: background-color 0.2s, color 0.2s, text-decoration-color 0.2s;


      &:link, &:visited {
        color: white;
        background-color: var(--color-primary-600);
      }
      &:hover {
        background-color: var(--color-primary-525);
      }
      &:active, &:hover:active {
        background-color: var(--color-accent-one-525);
      }

      &:focus {
        @include focus-outline;
      }

    }
  }
</style>