---
import { css } from '@styled-system/css'
import focusRing from '@recipes/focusRing'
import { rootPath } from 'astro-path-helpers/generated'
---

<a
  href={rootPath()}
  class:list={[
    css({
      display: 'block',
      fontFamily: 'syne',
      fontWeight: '730',
      fontSize: 'lg',
      lineHeight: 'tight',
      textTransform: 'uppercase',
      letterSpacing: 'wide',
      _light: {
        color: 'neutral.650',
      },
      _dark: {
        color: 'neutral.400',
      },
    }),
    focusRing(),
  ]}
>
  <span class={css({})} role="img" aria-label="Logo">Cassidy Smith</span>
</a>
