---
import BannerLogo from './BannerLogo.astro'

const { class: className, ...rest } = Astro.props
---

<header role="banner" id="theme-switcher-portal" class={className} {...rest}>
  <nav>
    <BannerLogo />
  </nav>
</header>

<style>
  header[role='banner'] {
    margin-top: var(--fluid-bento-gap);
    display: flex;
  }

  :global(.theme-toggle) {
    margin-left: auto;
    align-self: center;
  }
</style>
