---
import BannerLogo from '@components/BannerLogo.astro'
import ThemeSwitcher from '@components/ThemeSwitcher.astro'
import { css } from '@styled-system/css'

const { class: className, ...rest } = Astro.props
---

<header
  role="banner"
  class:list={[
    className,
    css({
      backgroundColor: 'columnRule',
      paddingBlockStart: 'columnHeaderBar',
      paddingInline: 'columnRule',
    }),
  ]}
  {...rest}
>
  <div
    class={css({
      display: 'flex',
      alignItems: 'center',
      justifyContent: 'space-between',
      paddingInlineStart: 'bento.padding',
      paddingInlineEnd: 'calc({spacing.bento.padding} / 2)',
      paddingBlock: 'calc({spacing.bento.padding} / 2)',
      borderRadius: 'bento',
      _light: {
        backgroundColor: 'neutral.50',
      },
      _dark: {
        backgroundColor: 'neutral.875',
      },
    })}
  >
    <nav>
      <BannerLogo />
    </nav>
    <ThemeSwitcher />
  </div>
</header>
