---
import type { HTMLTag, Polymorphic } from 'astro/types'
import { css } from '@styled-system/css'
import button from '@recipes/button'
import focusRing from '@recipes/focusRing'
import { Icon } from 'astro-icon/components'

type Props<Tag extends HTMLTag> = Polymorphic<{
  as: Tag
  size?: 'sm' | 'md' | 'lg'
  color?: string
  iconLeft?: string
  iconRight?: string
  class?: string
}>

const {
  as: Tag = 'button',
  class: className,
  color = 'neutral',
  size = 'md',
  iconLeft,
  iconRight,
  ...props
} = Astro.props
---

<Tag
  class:list={[
    css({
      colorPalette: color,
    }),
    button({ size }),
    focusRing(),
    className,
  ]}
  {...props}
>
  {iconLeft && <Icon aria-hidden="true" name={iconLeft} />}
  {
    Astro.slots.has('default') && (
      <span>
        <slot />
      </span>
    )
  }
  {iconRight && <Icon aria-hidden="true" name={iconRight} />}
</Tag>
