---
import type { HTMLAttributes } from 'astro/types';
import type { CollectionEntry, CollectionKey } from 'astro:content';

interface Props extends HTMLAttributes<'a'> {
  content: CollectionEntry<CollectionKey>;
  linkText?: string;
}

const { linkText, content, ...attributes } = Astro.props;

---

<a href={`/${content.collection}/${content.id}`} {...attributes}>
  {linkText || <slot />}
</a>