---
import type { HTMLAttributes } from 'astro/types'
import type { CollectionEntry, CollectionKey } from 'astro:content'

interface Props extends HTMLAttributes<'a'> {
  content: CollectionEntry<CollectionKey>
  collectionSlug?: string
  linkText?: string
}

const {
  linkText,
  collectionSlug,
  content,
  class: className,
  ...attributes
} = Astro.props
---

<a
  href={`/${collectionSlug || content.collection}/${content.id}`}
  class={className}
  {...attributes}
>
  {linkText || <slot />}
</a>
