---
  import { Icon } from 'astro-icon/components'
  import CopyToClipboard from './CopyToClipboard.svelte';

  const {
    emailAddress = 'cassidy@cassidysmith.dev',
  } = Astro.props
---


<section class="copy-email">
  <h2 class="heading">
    <Icon name="ion:send-sharp" />
    Send an Email
  </h2>
  
  <div class="layout">
    <div class="email-address">
      <a href=`mailto:${emailAddress}`>
        <span>{emailAddress}</span>
      </a>
    </div>
    <CopyToClipboard
      client:idle
      class="cs-button"
      textToCopy={emailAddress}
    >
      <Icon slot="initial" name="ion:clipboard-sharp" /><span slot="initial">Copy</span>
      <Icon slot="success" name="ion:checkmark-sharp" /><span slot="success">Copied!</span>
    </CopyToClipboard>
  </div>
</section>


<style lang="scss">
  @import '../styles/mixins.scss';

  .copy-email {
    grid-area: email;
    align-self: start;
    border-radius: var(--fluid-bento-radius);
    padding: var(--fluid-bento-padding);
    color: var(--color-secondary-0);
    background-color: var(--color-secondary-600);

    .heading {
      color: inherit;
      display: flex;
      gap: 0.5ch;
    }

    .layout {
      display: flex;
      flex-wrap: wrap;
      gap: calc(var(--fluid-bento-gap) / 2);
      justify-content: space-between;
    }

    .email-address {
      display: flex;
      border-radius: calc(var(--fluid-bento-radius) - var(--fluid-bento-padding) / 2);
      padding: var(--space-2) var(--fluid-bento-padding);
      background-color: var(--color-secondary-775);
      flex-grow: 1;
      line-height: 1;
      
      a[href^=mailto] {
        display: inline-flex;
        gap: 0.5ch;

        transition:
          color 0.2s,
          text-decoration-color 0.2s;

        text-decoration-color: var(--color-secondary-275);
          
        &:link, &:visited {
          color: var(--color-secondary-0);
        }
        &:hover {
          color: var(--color-secondary-275);
          text-decoration-color: var(--color-secondary-275);
        }
        &:active,
        &:hover:active {
          color: var(--color-accent-one-350);
          text-decoration-color: var(--color-accent-one-350);
        }
        &:focus {
          @include focus-outline();
        }
      }
    }

    :global(button) {
      flex-grow: 1;
      min-width: 7.5rem;
      flex-basis: 10%;
      justify-content: center;
      border-radius: calc(var(--fluid-bento-radius) - var(--fluid-bento-padding) / 2);

      color: var(--color-secondary-775);
      background-color: var(--color-neutral-275);
      transition: background-color 0.2s, color 0.2s;
      &:hover {
        color: var(--color-secondary-600);
        background-color: var(--color-neutral-100);
      }
      &:active, &:hover:active {
        color: white;
        background-color: var(--color-accent-one-525);
      }
      &:focus-visible {
        @include focus-outline();
      }

      :global(svg) {
        width: 0.9em;
        height: auto;
        flex-shrink: 0;
      }
    }
  }
  
</style>