---
  import { Icon } from 'astro-icon/components'
  import CopyToClipboard from './CopyToClipboard.svelte';

  const {
    emailAddress = 'cassidy@cassidysmith.dev',
  } = Astro.props
---


<section class="copy-email">
  <h2 class="heading">
    Send an Email
  </h2>
  
  <div class="layout">
    <div class="email-address">
      <a href=`mailto:${emailAddress}`>
        <span>{emailAddress}</span><Icon name="ion:send-sharp" /> 
      </a>
    </div>
    <CopyToClipboard
      client:idle
      textToCopy={emailAddress}
    >
      <Icon slot="initial" name="ion:clipboard-sharp" /><span slot="initial">Copy</span>
      <Icon slot="success" name="ion:checkmark-sharp" /><span slot="success">Copied!</span>
    </CopyToClipboard>
  </div>
</section>


<style lang="scss">
  @import '../styles/mixins.scss';

  @include colorModeStyles(light) {
    .copy-email {
      --color: var(--color-tertiary-700);
      --background-color: var(--color-tertiary-175);
    }
    .email-address {
      --border-color: var(--color-tertiary-275);
    }
    a[href^=mailto] {
      --color-link: var(--color-tertiary-700);
      --color-link-decoration: var(--color-tertiary-350);
      
      --color-link-hover: var(--color-tertiary-600);
      --color-link-hover-decoration: var(--color-tertiary-275);

      --color-link-active: var(--color-accent-one-425);
      --color-link-active-decoration: var(--color-accent-one-525);
    }
  }
  @include colorModeStyles(dark) {
    .copy-email {
      --color: var(--color-tertiary-275);
      --background-color: var(--color-tertiary-850);
    }
    .email-address {
      --border-color: var(--color-tertiary-775);
    }
    a[href^=mailto] {
      --color-link: var(--color-tertiary-275);
      --color-link-decoration: var(--color-tertiary-525);
      
      --color-link-hover: var(--color-tertiary-175);
      --color-link-hover-decoration: var(--color-tertiary-350);

      --color-link-active: var(--color-accent-one-425);
      --color-link-active-decoration: var(--color-accent-one-525);
    }
  }

  .copy-email {
    grid-area: email;
    align-self: start;
    border-radius: var(--fluid-bento-radius);
    padding: var(--fluid-bento-padding);
    color: var(--color);
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: var(--fluid-bento-gap);

    .heading {
      color: inherit;
      display: flex;
      gap: 0.5ch;
      color: currentColor;
    }

    .layout {
      display: flex;
      flex-wrap: wrap;
      gap: calc(var(--fluid-bento-gap) / 2);
      justify-content: space-between;
    }

    .email-address {
      display: flex;
      border-radius: calc(var(--fluid-bento-radius) - var(--fluid-bento-padding) / 2);
      padding: var(--space-2) var(--fluid-bento-padding);
      box-shadow: inset 0 0 0 2px var(--border-color);
      flex-grow: 1;
      line-height: 1;
      
      a[href^=mailto] {
        display: inline-flex;
        gap: 0.5ch;

        @include text-link;

      }
    }

    :global(button) {
      flex-grow: 1;
      min-width: 7.5rem;
      flex-basis: 10%;
      justify-content: center;
    }
  }
  
</style>