---

---


<footer>
  <span>
    This site is hand-made by yours truly, powered by <a href="https://astro.build/">Astro</a>. The fonts I’ve chosen are <a href="https://brailleinstitute.org/freefont">Atkinson Hyperlegible</a> and <a href="https://gitlab.com/bonjour-monde/fonderie/syne-typeface">Syne</a>. View the source code on <a href="https://github.com/heycassidy/cassidysmith.dev">GitHub</a>. 
  </span>
</footer>


<style lang="scss"> 
  @import '../styles/mixins.scss';

  footer {
    display: flex;
    justify-content: center;
    align-self: end;
    column-gap: var(--space-2);
    row-gap: var(--space-1);

    padding: var(--fluid-bento-padding) var(--fluid-bento-gap);
    color: var(--color-base-text-faded);
    font-size: var(--font-size-0);
    line-height: var(--line-height-compressed);
  }


  a {
    @include text-link;
  }


</style>