---
import { css } from '@styled-system/css'

import TextLink from '@components/TextLink.astro'

const { class: className } = Astro.props
---

<footer
  class:list={[
    className,
    css({
      backgroundColor: 'columnRule',
      paddingBlockEnd: 'columnHeaderBar',
      paddingInline: 'columnRule',
    }),
  ]}
>
  <div
    class={css({
      display: 'grid',
      justifyItems: 'center',
      paddingBlock: 2,
      paddingInline: 2,
      fontSize: 'xs',
      borderRadius: 'bento',
      _light: {
        backgroundColor: 'neutral.50',
      },
      _dark: {
        backgroundColor: 'neutral.875',
      },
    })}
  >
    <p>
      This site is hand-made by yours truly, powered by <TextLink
        useColorStyles
        href="https://astro.build/">Astro</TextLink
      >. The fonts I’ve chosen are <TextLink
        useColorStyles
        href="https://brailleinstitute.org/freefont"
        >Atkinson Hyperlegible</TextLink
      > and <TextLink
        useColorStyles
        href="https://gitlab.com/bonjour-monde/fonderie/syne-typeface"
        >Syne</TextLink
      >. View the source code on <TextLink
        useColorStyles
        href="https://github.com/heycassidy/cassidysmith.dev">GitHub</TextLink
      >.
    </p>
  </div>
</footer>
