---
// https://noice.vercel.app/
import { css } from '@styled-system/css'
---

<script>
  document.addEventListener('astro:page-load', () => {
    const isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent)
    if (isSafari) {
      document.body.setAttribute('data-hide-grain', '')
    }
  })
</script>

<div
  class={css({
    width: '100%',
    height: '100%',
    position: 'absolute',
    top: 0,
    left: 0,
    pointerEvents: 'none',
    _light: {
      mixBlendMode: 'color-burn',
      opacity: '0.3',
    },
    _dark: {
      mixBlendMode: 'color-dodge',
      opacity: '0.5',
    },

    '[data-hide-grain] &': {
      display: 'none',
    },
  })}
>
  <svg id="noice" class={css({ width: 'full', height: 'full' })}>
    <filter id="noise-filter">
      <feTurbulence
        type="fractalNoise"
        baseFrequency="1"
        numOctaves="4"
        stitchTiles="stitch"></feTurbulence>
      <feColorMatrix type="saturate" values="0"></feColorMatrix>
      <feComponentTransfer>
        <feFuncR type="linear" slope="0.5"></feFuncR>
        <feFuncG type="linear" slope="0.5"></feFuncG>
        <feFuncB type="linear" slope="0.5"></feFuncB>
        <feFuncA type="linear" slope="1"></feFuncA>
      </feComponentTransfer>
      <feComponentTransfer>
        <feFuncR type="linear" slope="1.5" intercept="-0.25"></feFuncR>
        <feFuncG type="linear" slope="1.5" intercept="-0.25"></feFuncG>
        <feFuncB type="linear" slope="1.5" intercept="-0.25"></feFuncB>
      </feComponentTransfer>
    </filter>
    <rect width="100%" height="100%" filter="url(#noise-filter)"></rect>
  </svg>
</div>
