---
import { css } from '@styled-system/css'
import { linkOverlay } from '@styled-system/patterns'
import interactiveSurface from '@recipes/interactiveSurface'
import focusRing from '@recipes/focusRing'
import { getCollection } from 'astro:content'
import { Icon } from 'astro-icon/components'
import { entryIsPublished, sortByPublishedAt } from '@utils/index'
import DateTimeDisplay from '@components/blog/DateTimeDisplay.astro'
import { postPath } from 'astro-path-helpers/generated'

const posts = await getCollection('blog', entryIsPublished)
const latestPost = posts.sort(sortByPublishedAt)[0]
---

<article
  class:list={[
    css({
      colorPalette: 'pink',
      gridArea: 'blog',

      borderRadius: 'bento',
      padding: 'bento.padding',

      display: 'flex',
      flexDirection: 'column',
      rowGap: 'bento.gap',
      justifyContent: 'space-between',

      textDecoration: 'none',

      position: 'relative',
    }),
    interactiveSurface(),
    focusRing({ mode: 'focus-visible-within' }),
  ]}
>
  <a
    href={postPath(latestPost.id)}
    class:list={[
      linkOverlay(),
      css({
        lineHeight: 'tight',
        fontWeight: '680',
        letterSpacing: 'wider',
        textTransform: 'uppercase',
        fontSize: 'xs',
        fontFamily: 'syne',
        display: 'flex',
        alignItems: 'center',
        columnGap: '1.5',
        color: 'currentColor',

        '&:focus': {
          outline: 'none',
        },

        '& [data-icon]': {
          flexShrink: 0,
        },

        '&&::before': {
          zIndex: 1,
        },
      }),
    ]}
  >
    Read the Latest <Icon aria-hidden="true" name="ri:arrow-right-fill" />
  </a>
  <div>
    <h2
      class={css({
        color: 'currentColor',
        textStyle: '2xl',
        fontWeight: '710',
        lineHeight: 'tight',
      })}
    >
      {latestPost.data.title}
    </h2>
    <!-- <p
      class={css({
        opacity: '0.9',
        textStyle: 'md',
        marginBlockEnd: 'calc(1rlh / 3)',
      })}
    >
      {latestPost.data.previewText}
    </p> -->
    <DateTimeDisplay
      dateTime={latestPost.data.publishedAt}
      class={css({
        textStyle: 'sm',
        opacity: '0.7',
      })}
    />
  </div>
</article>
