---
import { css } from '@styled-system/css'
import PhotoGalleryItem from '@components/PhotoGalleryItem.astro'

import type { CollectionEntry } from 'astro:content'
interface Props {
  photos: CollectionEntry<'photos'>[]
}

const { photos } = Astro.props
---

<div
  class={css({
    zIndex: '1', // This puts it above the grain effect
  })}
>
  <ul
    class={css({
      maxWidth: '5xl',
      marginInline: 'auto',
      marginBlock: 0,
      display: 'flex',
      padding: '2',
      gap: '2',
      backgroundColor: 'stark.background',
      width: '100%',
      overflowX: 'auto',
      overflowY: 'hidden',
      WebkitOverflowScrolling: 'touch',

      sm: {
        gap: 'columnRule',
        backgroundColor: 'columnRule',
        overflow: 'visible',
        display: 'grid',
        padding: 0,
        gridTemplateColumns: 'repeat(auto-fill, minmax(15rem, 1fr))',
      },
    })}
  >
    {photos.map((photo) => <PhotoGalleryItem photo={photo} />)}
  </ul>
</div>
