---
import ContentLink from './ContentLink.astro'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

interface Props {
  photo: CollectionEntry<'photos'>
}

const { photo } = Astro.props
---

<li class="link-container">
  <ContentLink
    content={photo}
    class="photo-link"
    style={`aspect-ratio: ${photo.data.image.src.width / photo.data.image.src.height};`}
    aria-label="Open image"
  >
    <Image
      src={photo.data.image.src}
      alt={photo.data.image.description}
      quality={60}
      height="450"
      densities={[1.5, 2]}
      loading="lazy"
    />
    <span class="screen-reader-only">Open image: {photo.data.title}</span>
  </ContentLink>
</li>

<style lang="scss">
  @use '@styles/mixins';

  .link-container {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-row: 1;

    @include mixins.breakpoint-small {
      grid-row: auto;
      aspect-ratio: 1 / 1;
    }
  }

  .photo-link {
    cursor: zoom-in;
    display: block;
    border-radius: var(--radius-tiny);
    background-color: var(--color-base-background);
    height: 100vw;

    position: relative;
    overflow: hidden;

    @include mixins.breakpoint-small {
      height: auto;
      max-height: 100%;
      max-height: 100%;
    }

    @media (hover: hover) {
      &:hover {
        img {
          transform: scale(1.05);
          filter: brightness(1.05);
        }
      }
    }
    &:focus-visible {
      img {
        transform: scale(1.05);
        filter: brightness(1.05);
      }
    }
    &:focus-visible {
      @include mixins.focus-outline(var(--color-stark-foreground));
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.2s ease-in-out;
  }
</style>
