---
import { css } from '@styled-system/css'
import { linkOverlay } from '@styled-system/patterns'
import interactiveSurface from '@recipes/interactiveSurface'
import focusRing from '@recipes/focusRing'
import { getCollection } from 'astro:content'
import PhotosCardItem from '@components/PhotosCardItem.astro'
import { Icon } from 'astro-icon/components'
import { entryIsPublished, sortByPosition } from '@utils/index'

const photos = await getCollection('photos', entryIsPublished)

let sortedPhotos = photos.sort(sortByPosition).slice(0, 8)
---

<section
  class:list={[
    focusRing({ mode: 'focus-visible-within' }),
    interactiveSurface(),
    css({
      gridArea: 'photos',
      borderRadius: 'bento',
      paddingBlock: 'bento.padding',
      paddingInline: '0',
      position: 'relative',
      display: 'grid',
      gridTemplateColumns: '1fr',
    }),
  ]}
>
  <a
    href="/photos"
    class:list={[
      css({
        paddingInline: 'bento.padding',
        paddingBlock: '0',
        _link: {
          _visited: {
            color: 'currentColor',
          },
        },
        _focusVisible: {
          outline: 'none',
        },
      }),
      linkOverlay(),
    ]}
  >
    <h2
      class={css({
        display: 'flex',
        gap: '1.5',
        justifyContent: 'space-between',
        alignItems: 'center',
        textStyle: '2xl',
        fontWeight: '710',
        marginBlockStart: 'lineHeightCrop.syne',
        marginBlockEnd: '2',

        '& [data-icon]': {
          flexShrink: 0,
        },
      })}
    >
      Check Out My Photos <Icon aria-hidden="true" name="ri:arrow-right-fill" />
    </h2>
  </a>

  <div
    class={css({
      inlineSize: 'calc(100% - 1px)',
      display: 'flex',
      gap: '2',
      paddingInline: 'bento.padding',
      overflow: 'hidden',
    })}
  >
    {sortedPhotos.map((photo) => <PhotosCardItem photo={photo} />)}
  </div>
</section>
