---
import { css } from '@styled-system/css'
import PhotoGalleryItem from '@components/PhotoGalleryItem.astro'

import type { CollectionEntry } from 'astro:content'
interface Props {
  photos: CollectionEntry<'photos'>[]
}

const { photos } = Astro.props
---

<div
  class={css({
    zIndex: '1', // This puts it above the grain effect
  })}
>
  <ul
    class={css({
      display: 'grid',
      padding: 'calc({spacing.bento.padding} * 2)',
      gap: 'calc({spacing.bento.padding} * 2)',
      backgroundColor: 'stark.background',
      borderRadius: 'bento',
      gridTemplateColumns: 'repeat(auto-fill, minmax(8rem, 1fr))',

      sm: {
        gridTemplateColumns: 'repeat(auto-fill, minmax(12rem, 1fr))',
      },
    })}
  >
    {
      photos.map((photo, i) => (
        <PhotoGalleryItem photo={photo} priority={i < 2} />
      ))
    }
  </ul>
</div>
