---
import { css } from '@styled-system/css'
import PhotoGalleryItem from '@components/PhotoGalleryItem.astro'

import type { CollectionEntry } from 'astro:content'
interface Props {
  photos: CollectionEntry<'photos'>[]
}

const { photos } = Astro.props
---

<div
  class={css({
    backgroundColor: 'stark.background',
    marginBlockEnd: 6,
    zIndex: '1', // This puts it above the grain effect
    sm: {
      paddingBlock: 10,
    },
    '&&': {
      gridColumnStart: 'full-width-start',
      gridColumnEnd: 'full-width-end',
    },
  })}
>
  <ul
    class={css({
      maxWidth: '5xl',
      marginInline: 'auto',
      marginBlock: 0,
      padding: 'bento.padding',
      display: 'flex',
      gap: 'bento.gap',
      width: '100%',
      overflowX: 'auto',
      overflowY: 'hidden',
      WebkitOverflowScrolling: 'touch',

      sm: {
        overflow: 'visible',
        display: 'grid',
        padding: 0,
        gridTemplateColumns: 'repeat(auto-fill, minmax(15rem, 1fr))',
      },
    })}
  >
    {photos.map((photo) => <PhotoGalleryItem photo={photo} />)}
  </ul>
</div>
