---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components'
import PricklyPearController from '../components/PricklyPearController.svelte'
import placeholderCactus from '../assets/prickly-pear.png'
---
<div class="prickly-pear-container">

  <div class="aspect-ratio-box">
    <PricklyPearController client:idle>
      <Image src={placeholderCactus} alt="Illustration of prickly pear cactus" class="placeholder-cactus" quality={90} slot="placeholder-cactus" loading="eager" />
    </PricklyPearController>
  </div>

  <a href="https://en.wikipedia.org/wiki/L-system" target="_blank" rel="noopener noreferrer">Learn about L-systems <Icon name="ion:open-sharp" /></a>
  
</div>

<style lang="scss">
  @import '../styles/mixins.scss';
  
  .prickly-pear-container {
    grid-area: cactus;
    display: grid;
    align-content: start;
    gap: var(--space-1);

    a {
      justify-self: center;
      @include text-link;
      text-align: center;
      font-size: var(--font-size-0);
      display: inline-flex;
      gap: 0.5ch;

      :global(svg) {
        width: 0.9em;
        height: auto;
      }
    }
  }
  
  .aspect-ratio-box {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    border-radius: var(--fluid-bento-radius);
    background-color: var(--color-neutral-175);
    aspect-ratio: 1/1;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 25%;
      background-color: var(--color-accent-three-525);
    }
  }

  .placeholder-cactus {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
</style>