---
import { Image } from 'astro:assets'
import PricklyPearController from '../components/PricklyPearController.svelte'
import placeholderCactus from '../assets/prickly-pear.png'
---

<div class="prickly-pear-container">
  <div class="scene-box">
    <PricklyPearController client:idle>
      <Image src={placeholderCactus} alt="Illustration of prickly pear cactus" class="placeholder-cactus" quality={90} width="800" height="800" slot="placeholderCactus" loading="eager" />
    </PricklyPearController>
  </div>
</div>

<style lang="scss">
  @import '../styles/mixins.scss';

  .prickly-pear-container {
    grid-area: cactus;
    display: grid;
    align-content: start;
    align-self: start;
    gap: var(--space-1);
    overflow: hidden;
    border-radius: var(--fluid-bento-radius);

    a {
      justify-self: center;
      @include text-link;
      text-align: center;
      font-size: var(--font-size-0);
      display: inline-flex;
      gap: 0.5ch;

      :global(svg) {
        width: 0.9em;
        height: auto;
      }
    }
  }

  @include color-mode(light) {
    .scene-box {
      --color-sky: var(--color-neutral-275);
      --color-ground: var(--color-tertiary-525);
    }
  }
  @include color-mode(dark) {
    .scene-box {
      --color-sky: var(--color-primary-850);
      --color-ground: var(--color-primary-875);
    }
    img {
      filter: hue-rotate(21deg) brightness(0.4) saturate(1.8);
    }
  }

  .scene-box {
    position: relative;
    display: flex;
    align-items: flex-end;

    background-color: var(--color-sky);
    aspect-ratio: 1/1;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 25%;
      background-color: var(--color-ground);
    }
  }

  .placeholder-cactus {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
</style>
