---
import { AstroFont } from 'astro-font'
import { ViewTransitions } from 'astro:transitions'

let { title, description } = Astro.props

title = `Cassidy Smith ${title ? `- ${title}` : ' - Front-End Engineer'}`
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" property="og:description" content={description} />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <ViewTransitions fallback="none" />
  <AstroFont
    config={[
      {
        src: [{
          style: 'normal',
          weight: '400',
          path: 'https://cdn.jsdelivr.net/fontsource/fonts/atkinson-hyperlegible@latest/latin-400-normal.woff2',
        }, {
          style: 'normal',
          weight: '700',
          path: 'https://cdn.jsdelivr.net/fontsource/fonts/atkinson-hyperlegible@latest/latin-700-normal.woff2',
        }, {
          style: 'italic',
          weight: '400',
          path: 'https://cdn.jsdelivr.net/fontsource/fonts/atkinson-hyperlegible@latest/latin-400-italic.woff2',
        }],
        fetch: import.meta.env.PROD,
        basePath: './dist',
        preload: true,
        display: 'swap',
        fallback: 'sans-serif',
        cssVariable: 'font-atkinson',
        name: 'Atkinson Hyperlegible',
      },
      {
        src: [{
          style: 'normal',
          weight: '400 800',
          path: 'https://cdn.jsdelivr.net/fontsource/fonts/syne:vf@latest/latin-wght-normal.woff2',
        }],
        fetch: import.meta.env.PROD,
        basePath: './dist',
        preload: true,
        display: 'swap',
        name: 'Syne Variable',
        fallback: 'sans-serif',
        cssVariable: 'font-syne',
      },
    ]}
  />
</head>
