---
import { ViewTransitions } from 'astro:transitions';

let { title, description } = Astro.props;

title = `Cassidy Smith ${title ? `- ${title}` : ' - Front-End Engineer'}`;
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" property="og:description" content={description} />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <ViewTransitions fallback="none" />
</head>
