---
import { AstroFont } from 'astro-font'
import { ViewTransitions } from 'astro:transitions'

let { title, description } = Astro.props

title = `Cassidy Smith ${title ? `- ${title}` : ' - Front-End Engineer'}`
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" property="og:description" content={description} />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <ViewTransitions fallback="none" />
  <AstroFont
    config={[
      {
        src: [],
        preload: false,
        display: 'swap',
        fallback: 'sans-serif',
        cssVariable: 'font-atkinson',
        name: 'Atkinson Hyperlegible',
        googleFontsURL:
          'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400&display=swap',
      },
      {
        src: [],
        preload: true,
        display: 'swap',
        name: 'Syne Variable',
        fallback: 'sans-serif',
        cssVariable: 'font-syne',
        googleFontsURL:
          'https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap',
      },
    ]}
  />
</head>
