---
import SocialLink from './SocialLink.astro'

---


<section class="social-links">
  <h2>Browse the Socials</h2>
  
  <div class="links-layout">
    <SocialLink href="https://github.com/heycassidy" external icon="ion:logo-github">Github</SocialLink>
    <SocialLink href="https://www.linkedin.com/in/csdev/" external icon="ion:logo-linkedin">LinkedIn</SocialLink>
    <SocialLink href="https://www.instagram.com/cassycle/" external icon="ion:logo-instagram">Instagram</SocialLink>
  </div>
</section>


<style lang="scss">
  @import '../styles/mixins.scss';
  
  .social-links {
    grid-area: social;
    color: var(--color-secondary-600);
    border-radius: var(--fluid-bento-radius);
    padding: var(--fluid-bento-padding);
    border: 2px solid;
    border-color: var(--color-secondary-350);

    @include breakpoint-medium {
      flex-direction: column;
    }
  }

  .links-layout {
    display: grid;
    gap: var(--fluid-bento-gap);
    grid-template-columns: 1fr 1fr 1fr;
    container: social-links-layout;
  }

  h2 {
    color: var(--color-secondary-600);
  }
</style>
