---
import { css } from '@styled-system/css'
import textLink from '@recipes/textLink'
import focusRing from '@recipes/focusRing'
import Aside from '@components/mdx/Aside.astro'

const { id, refLabel } = Astro.props
---

<Aside id={`note-${id}`}>
  <a
    class:list={[
      css({
        float: 'left',
        marginRight: '2',
      }),
      textLink({ visited: false }),
      focusRing(),
    ]}
    href={`#note-ref-${id}`}>{refLabel}</a
  >
  <div>
    <slot />
  </div>
</Aside>
