---
import { css } from '@styled-system/css'
const props = Astro.props
---

<aside
  class={css({
    order: 1,
    position: 'relative',
    '&&': {
      gridColumn: 'aside',
    },

    md: {
      order: 'unset',
      marginBlock: 0,
      '& > div': {
        position: 'absolute',
        paddingInline: 'bento.padding',
        paddingBlock: 'bento.padding',
        overflow: 'hidden',
        borderBlockStart: '{spacing.columnRule} solid {colors.columnRule}'
      },
    },
  })}
  {...props}
>
  <div>
    <slot />
  </div>
</aside>
