---
import { css } from '@styled-system/css'
const props = Astro.props
---

<aside
  class={css({
    order: 1,
    '&&': {
      gridColumn: 'aside',
    },

    md: {
      order: 'unset',
      marginBlock: 0,
      '& > div': {
        position: 'absolute',
        paddingInline: 'bento.padding',
        paddingBlock: 'bento.padding',
        borderRadius: 'calc(var(--radii-bento) / 2)',
        overflow: 'hidden',

        _before: {
          content: "' '",
          position: 'absolute',
          display: 'block',
          width: '20',
          height: '100%',
          top: 0,
          left: 0,
          zIndex: -1,
        },

        _light: {
          border: 0,
          _before: {
            backgroundImage:
              'linear-gradient(to right, {colors.neutral.50}, transparent)',
          },
        },
        _dark: {
          border: 0,
          _before: {
            backgroundImage:
              'linear-gradient(to right, {colors.neutral.900}, transparent)',
          },
        },
      },
    },
  })}
  {...props}
>
  <div>
    <slot />
  </div>
</aside>
