---
import { css } from '@styled-system/css'
---

<li
  class={css({
    paddingInlineStart: 1,

    '&::marker': {
      fontFamily: 'syne',
      fontWeight: '650',
    },

    '& + li': {
      marginBlockStart: 2,
    },
  })}
>
  <slot />
</li>
