---
import { css } from '@styled-system/css'
import { Icon } from 'astro-icon/components'
---

<li
  class={css({
    position: 'relative',
    display: 'grid',
    gridTemplateColumns: '1.2em auto',
    columnGap: '2',

    '& + li': {
      marginBlockStart: 2,
    },

    '&::marker': {
      content: "'-'",
    },

    '& [data-icon]': {
      position: 'relative',
      left: 0,
      width: '100%',
      height: 'auto',
      marginBlockStart: '0.2em',
    },
  })}
>
  <Icon size={24} name="ri:corner-down-right-line" />
  <span>
    <slot />
  </span>
</li>
