---
import { css } from '@styled-system/css'
---

<div
  class={css({
    padding: 'bento.padding',
    borderRadius: 'bento',
    '&&': {
      gridColumn: 'breakout',
    },

    _light: {
      backgroundColor: 'neutral.50',
    },
    _dark: {
      backgroundColor: 'neutral.850',
    },
  })}
>
  <slot />
</div>
