---
import { friendlyUTCDate } from '@utils/index'
import { Icon } from 'astro-icon/components'

type Props = {
  iconName?: string
  class?: string
  dateTime: Date
  label?: string
}

const { iconName, label, dateTime, class: className, ...rest } = Astro.props
---

<span class:list={['post-date-time', className]} {...rest}>
  {iconName && <Icon name={iconName} />}<span
    >{label}
    <time datetime={dateTime.toISOString()}>{friendlyUTCDate(dateTime)}</time
    ></span
  >
</span>

<style lang="scss">
  @import '@styles/mixins.scss';

  .post-date-time {
    display: flex;
    column-gap: var(--space-2);
    align-items: center;
  }
</style>
