---
import { friendlyUTCDate } from '@utils/index'

type Props = {
  class?: string
  dateTime: Date
  label?: string
}

const { label, dateTime, class: className, ...rest } = Astro.props
---

<span class={className} {...rest}>
  {label}
  <time datetime={dateTime.toISOString()}>{friendlyUTCDate(dateTime)}</time>
</span>
