---
import { css } from '@styled-system/css'
import DateTimeDisplay from '@components/blog/DateTimeDisplay.astro'
import PostMetaItem from '@components/blog/PostMetaItem.astro'

import { isSameDay } from '@utils/index'
const { post, readingTime } = Astro.props

const isModified = !isSameDay(post.data.modifiedAt, post.data.publishedAt)
---

<div
  class={css({
    display: 'flex',
    flexWrap: 'wrap',
    rowGap: '2',
    columnGap: '3',
    marginBottom: '6',

    '&&': {
      gridColumn: 'post-meta',
    },

    _light: {
      color: 'pink.650',
    },
    _dark: {
      color: 'neutral.400',
    },
  })}
>
  {
    readingTime && (
      <PostMetaItem iconName="ri:hourglass-2-fill">
        <span>{readingTime}</span>
      </PostMetaItem>
    )
  }

  <PostMetaItem iconName="ri:pencil-fill">
    <DateTimeDisplay dateTime={post.data.publishedAt} label="Published" />
  </PostMetaItem>

  {
    isModified && (
      <PostMetaItem iconName="ri:eraser-fill">
        <DateTimeDisplay dateTime={post.data.modifiedAt} label="Updated" />
      </PostMetaItem>
    )
  }
</div>
