---
const { post } = Astro.props;

---

<h1>{post.data.title}</h1>
{post.data.subtitle && <p class="subtitle">{post.data.subtitle}</p>}


<style lang="scss">
  @import '@styles/mixins.scss';

  @include colorModeStyles(light) {
    .subtitle {
      --deemphasis-color: var(--color-tertiary-700);
    }
  }
  @include colorModeStyles(dark) {
    .subtitle {
      --deemphasis-color: var(--color-tertiary-350);
    }
  }

  h1 {
    --column: header-content;
    color: currentColor;
    font-size: var(--font-size-7);
    line-height: var(--line-height-7);
    margin: 0;
    text-wrap: balance;
  }

  .subtitle {
    --column: header-content;
    margin-top: var(--space-3);
    font-size: var(--font-size-5);
    line-height: var(--line-height-5);
    font-family: var(--font-syne);
    color: var(--deemphasis-color);
    text-wrap: balance;
  }
  
  
</style>