---
import { Icon } from 'astro-icon/components'

type Props = {
  iconName: string,
  class?: string
}

const { iconName, class: className } = Astro.props
---

<span class:list={['blog-post-meta-item', className]} class={className}>
  <Icon name={iconName} /><span><slot /></span>
</span>

<style lang="scss">
  @import '@styles/mixins.scss';

  .blog-post-meta-item {
    margin: 0;
    font-size: var(--font-size-0);
    color: currentColor;
    display: flex;
    column-gap: var(--space-2);
    align-items: center;
  }
</style>