---
const { post } = Astro.props;

---

<h1>{post.data.title}</h1>
{post.data.subtitle && <p class="subtitle">{post.data.subtitle}</p>}


<style lang="scss">
  @import '@styles/mixins.scss';


  h1 {
    --column: header-content;
    color: currentColor;
    font-size: var(--font-size-7);
    margin: 0;
    text-wrap: balance;
  }

  .subtitle {
    --column: header-content;
    margin-top: var(--space-3);
    font-size: var(--font-size-5);
    line-height: var(--line-height-compressed);
    font-family: var(--font-syne);
    text-wrap: balance;
    opacity: 0.9;
  }
  
  
</style>