---
import { css } from '@styled-system/css'
import type { CollectionEntry } from 'astro:content'
import PostPreview from '@components/blog/PostPreview.astro'

interface Props {
  posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props
---

<div
  class={css({
    display: 'grid',
    padding: 'columnRule',
    gap: 'columnRule',
    backgroundColor: 'columnRule',
    gridTemplateColumns: {
      md: 'repeat(auto-fill, minmax(30rem, 1fr))',
    },
  })}
>
  {posts.map((post) => <PostPreview post={post} />)}
</div>
