---
import { css } from '@styled-system/css'
import TableOfContentsItem from '@components/blog/TableOfContentsItem.astro'
import generateToC from '@utils/generateToC'

const { headings } = Astro.props

const toc = generateToC(headings, {
  minHeadingLevel: 1,
  maxHeadingLevel: 4,
})
---

<aside
  class={css({
    marginBlockEnd: '6',
  })}
>
  <h2
    class={css({
      textStyle: 'h6',
      textTransform: 'uppercase',
      letterSpacing: 'wider',
      marginBlockStart: 0,
    })}
  >
    On This Page
  </h2>
  <nav>
    <ol>
      {toc.map((heading) => <TableOfContentsItem heading={heading} />)}
    </ol>
  </nav>
</aside>
