---
import TableOfContentsHeading from '@components/blog/TableOfContentsHeading.astro'
import generateToC from '@utils/generateToC'

const { headings } = Astro.props

const toc = generateToC(headings, {
  minHeadingLevel: 1,
  maxHeadingLevel: 4,
})
---

<aside>
  <h2>On This Page</h2>
  <nav class="toc">
    <ol>
      {toc.map((heading) => <TableOfContentsHeading heading={heading} />)}
    </ol>
  </nav>
</aside>

<style lang="scss">
  @use '@styles/mixins';

  h2 {
    font-weight: 720;
    letter-spacing: 0.15ch;
    text-transform: uppercase;
    font-size: var(--font-size-0);
    line-height: var(--line-height-compressed);
    margin-bottom: var(--space-3);
  }

  ol {
    padding: 0;
  }

  aside {
    margin-bottom: var(--space-6);
  }
</style>
