---
import { css } from '@styled-system/css'
import type { HTMLAttributes } from 'astro/types'
import type { CollectionEntry } from 'astro:content'
import Tag from '@components/blog/Tag.astro'

interface Props {}

interface Props extends HTMLAttributes<'ul'> {
  tags: CollectionEntry<'tags'>[]
}

const { tags, class: className, ...rest } = Astro.props
---

<ul
  class:list={[
    css({
      display: 'flex',
      flexWrap: 'wrap',
      alignItems: 'baseline',
      gap: '2',
    }),
    className,
  ]}
>
  {
    tags.map((tag) => (
      <li>
        <Tag tag={tag} />
      </li>
    ))
  }
</ul>
