---
import { type TocItem } from "@utils/generateToC";

const { heading } = Astro.props;
---

<li>
  <a href={'#' + heading.slug}>
    {heading.text}
  </a>
  {
    heading.children.length > 0 && (
      <ol>
        {heading.children.map((heading: TocItem) => (
          <Astro.self heading={heading} />
        ))}
      </ol>
    )
  }
</li>


<style lang="scss">
  @import '@styles/mixins';

  a {
    @include text-link($visited: false);
    text-decoration: none;
  }

  ol {
    padding-left: var(--space-3);
  }
  li {
    line-height: var(--line-height-compressed);
    &::marker {
      content: " ";
    }
  }
  li > ol,
  li + li {
    margin-top: var(--space-2);
  }

</style>