:root {
  font-size: 16px;
}

body {
  font-family: "IBM Plex Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6875;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  @include responsive-font(9.6774194vw, 2.25rem, 3.75rem);
}
h2 {
  @include responsive-font(7.7419355vw, 1.5rem, 3rem);
}
h3 {
  @include responsive-font(5.8064516vw, 1.3125rem, 2.25rem);
}
h4 {
  @include responsive-font(3.8709677vw, 1.125rem, 1.5rem);
}
h5 {
  @include responsive-font(3.3870968vw, 1rem, 1.3125rem);
}
h6 {
  @include responsive-font(2.9032258vw, 1rem, 1.125rem);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: transparentize(white, .2);
}