---
import '@styles/global.css'
import SharedHead from '@components/SharedHead.astro'
import GrainyBackground from '@components/GrainyBackground.astro'
import ThemeSwitcher from '@components/ThemeSwitcher.svelte'
---

<!DOCTYPE html>
<html lang="en" data-theme="light">
  <SharedHead>
    <slot name="head" />
  </SharedHead>
  <body>
    <ThemeSwitcher client:only="svelte" />
    <slot />
    <GrainyBackground />
  </body>
</html>
