---
import '@fontsource/atkinson-hyperlegible/400.css'
import '@fontsource/atkinson-hyperlegible/400-italic.css'
import '@fontsource/atkinson-hyperlegible/700.css'
import '@fontsource-variable/syne'
import '../styles/global.css'

import SharedHead from '../components/SharedHead.astro';
---

<!DOCTYPE html>
<html lang="en">
  <SharedHead />
  <body>
    <slot />
  </body>
</html>