---
import '../styles/global.css'

import SharedHead from '../components/SharedHead.astro'

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <SharedHead {...{ title, description }} />
  <body>
    <slot />
  </body>
</html>
