---
import '@styles/global.css'
import SharedHead from '@components/SharedHead.astro'
import GrainyBackground from '@components/GrainyBackground.astro'
---

<!doctype html>
<html
  lang="en"
  data-theme="light"
  transition:name="root"
  transition:animate="none"
>
  <SharedHead>
    <slot name="head" />
  </SharedHead>
  <body>
    <slot />
    <GrainyBackground />
  </body>
</html>
