---
import '@fontsource/atkinson-hyperlegible/400.css'
import '@fontsource/atkinson-hyperlegible/400-italic.css'
import '@fontsource/atkinson-hyperlegible/700.css'
import '@fontsource-variable/syne'
import '../styles/global.css'


import Banner from '../components/Banner.astro'

const {
  title = 'Cassidy Smith - Front-End Engineer',
  description = 'Cassidy Smith is a front-end engineer and UI designer in Chicago, IL.',
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" property="og:description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="site-container">
      <Banner />
      <slot />
      <!-- Footer here -->
    </div>
  </body>

</html>


<style lang="scss">
  @import '../styles/mixins.scss';

  .site-container {
    --max-container-width: 60rem;
    margin: 0 auto;
    display: grid;
    padding: var(--fluid-bento-gap) 0;
    gap: var(--fluid-bento-gap);
    min-height: 100%;
    align-content: start;
    grid-template-columns: [full-width-start] 1fr [centered-start] minmax(0, var(--max-container-width)) [centered-end] 1fr [full-width-end];

    :global(> *) {
      grid-column: centered;
    }
  }
</style>
