---
import '@fontsource/atkinson-hyperlegible/400.css'
import '@fontsource/atkinson-hyperlegible/400-italic.css'
import '@fontsource/atkinson-hyperlegible/700.css'
import '@fontsource-variable/syne'
import '../styles/global.css'


import Banner from '../components/Banner.astro'

const {
  title = 'Cassidy Smith | Front-End Engineer',
  description = 'Cassidy Smith is a front-end engineer and UI designer in Chicago, IL.',
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" property="og:description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <div class="bento-box">
      <Banner />
      <slot />
    </div>
  </body>

</html>


<style lang="scss">
  @import '../styles/mixins.scss';
  
  .bento-box {
    max-width: 82ch;
    margin: 0 auto;
    padding: var(--fluid-bento-gap);
    display: grid;
    gap: var(--fluid-bento-gap);

    container: bento;

    grid-template-areas: 
      "banner"
      "intro"
      "social"
      "cactus";

    @include breakpoint-small {
      grid-template-columns: 13fr 8fr;
      grid-template-rows: auto auto auto 1fr;
      grid-template-areas: 
        "banner banner"
        "intro social"
        "intro cactus"
        ".     cactus";
    }
    @include breakpoint-medium {
      grid-template-columns: 13fr 4fr 4fr 2fr;
      grid-template-rows: auto auto auto 1fr;
      grid-template-areas: 
        "banner banner . ."
        "intro social social  ."
        "intro cactus cactus cactus"
        ".     cactus cactus cactus";
    }

  }
</style>
