---
import '@fontsource/atkinson-hyperlegible/400.css'
import '@fontsource/atkinson-hyperlegible/400-italic.css'
import '@fontsource/atkinson-hyperlegible/700.css'
import '@fontsource-variable/syne'
import '../styles/global.css'


import Banner from '../components/Banner.astro'
import ContactLink from '../components/ContactLink.astro'

const {
  title = 'Cassidy Smith | Front-End Engineer',
  description = 'Cassidy Smith is a front-end engineer and UI designer in Chicago, IL.',
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" property="og:description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <div class="bento-box">
      <Banner />
      <slot />
      <footer>
        <ContactLink href="mailto:cassidy@cassidysmith.dev" icon="carbon:send-alt-filled">cassidy@cassidysmith.dev</ContactLink>
        <ContactLink href="https://github.com/heycassidy" external icon="carbon:logo-github">Github</ContactLink>
      </footer>
    </div>
  </body>

</html>


<style>
  body {
  }
  .bento-box {
    max-width: var(--space-content-3);
    margin: 0 auto;
    padding: clamp(var(--space-1), 3vw, var(--space-3));
    display: grid;
    gap: var(--space-2);
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2);
  }
</style>
