---
import '@fontsource/atkinson-hyperlegible/400.css'
import '@fontsource/atkinson-hyperlegible/400-italic.css'
import '@fontsource/atkinson-hyperlegible/700.css'
import '@fontsource-variable/syne'
import '../styles/global.css'


import Banner from '../components/Banner.astro'

const {
  title = 'Cassidy Smith - Front-End Engineer',
  description = 'Cassidy Smith is a front-end engineer and UI designer in Chicago, IL.',
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" property="og:description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="bento-box">
      <Banner />
      <slot />
    </div>
  </body>

</html>


<style lang="scss">
  @import '../styles/mixins.scss';
  
  .bento-box {
    max-width: 60rem;
    margin: 0 auto;
    padding: var(--fluid-bento-gap);
    display: grid;
    gap: var(--fluid-bento-gap);

    container: bento;

    grid-template-areas: 
      "banner"
      "intro"
      "email"
      "social"
      "cactus";

    @include breakpoint-small {
      grid-template-columns: 5fr 4fr;
      grid-template-rows: auto auto auto 1fr;
      grid-template-areas: 
        "banner banner"
        "intro social"
        "intro cactus"
        "email cactus";
    }
    @include breakpoint-medium {
      grid-template-columns: 1fr 7fr 2fr 2fr 1fr;
      grid-template-rows: auto auto auto 1fr;
      grid-template-areas: 
        "banner banner banner banner banner"
        "intro intro social social  ."
        "intro intro cactus cactus cactus"
        ". email cactus cactus cactus";
    }

  }
</style>
