---
import { css } from '@styled-system/css'
import Footer from '@components/Footer.astro'
import Banner from '@components/Banner.astro'
---

<div
  class={css({
    marginInline: 'auto',
    minHeight: '100vh',
    display: 'grid',
    alignItems: 'start',
    gridTemplateRows: 'auto 1fr auto',
    gridTemplateColumns:
      '[full-width-start] minmax(0, 1fr) [centered-start] minmax(0, {sizes.5xl}) [centered-end] minmax(0, 1fr) [full-width-end]',
  })}
>
  <div
    class={css({
      gridColumn: 'full-width',
      display: 'grid',
      gridTemplateColumns: 'subgrid',
      '& > *': {
        gridColumn: 'centered',
      },
    })}
  >
    <Banner
      class={css({
        gridColumn: 'centered',
      })}
    />
    <slot />
    <Footer />
  </div>
</div>
